<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>Lips</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pencils</string>
					<key>imageName</key>
					<string>ic_product_pencils</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipstick</string>
					<key>imageName</key>
					<string>ic_product_lipstick</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipgloss</string>
					<key>imageName</key>
					<string>ic_product_lipgloss</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lip Balm</string>
					<key>imageName</key>
					<string>ic_product_lipbalm</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Treatment</string>
					<key>imageName</key>
					<string>ic_product_treatment</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pallete</string>
					<key>imageName</key>
					<string>ic_product_palette</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Face</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pencils</string>
					<key>imageName</key>
					<string>ic_product_pencils</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipstick</string>
					<key>imageName</key>
					<string>ic_product_lipstick</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipgloss</string>
					<key>imageName</key>
					<string>ic_product_lipgloss</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lip Balm</string>
					<key>imageName</key>
					<string>ic_product_lipbalm</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Treatment</string>
					<key>imageName</key>
					<string>ic_product_treatment</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pallete</string>
					<key>imageName</key>
					<string>ic_product_palette</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Nails</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pencils</string>
					<key>imageName</key>
					<string>ic_product_pencils</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipstick</string>
					<key>imageName</key>
					<string>ic_product_lipstick</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lipgloss</string>
					<key>imageName</key>
					<string>ic_product_lipgloss</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Lip Balm</string>
					<key>imageName</key>
					<string>ic_product_lipbalm</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Treatment</string>
					<key>imageName</key>
					<string>ic_product_treatment</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Pallete</string>
					<key>imageName</key>
					<string>ic_product_palette</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
